<!DOCTYPE html>
<html>
<head>
  <title>web-test</title>
  <link rel="stylesheet" href="static\css\analyze2.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="image\leaf-solid.svg" type="image/x-icon">

</head>
<body>
  <div class="analyze-usage-desktop-12">
    <div class="footer"></div>
    <div class="div"></div>
    <div class="header">
      <div class="header2"></div>
      <div class="logo2"></div>
      <div class="div2">
        做好垃圾分類，
        <br />
        一起守護我們的地球
      </div>
      <svg
        class="leaf-solid-1"
        width="50"
        height="50"
        viewBox="0 0 50 50"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M26.5625 9.37503C18.8867 9.37503 12.3926 14.4043 10.1855 21.3379C13.4668 19.6778 17.168 18.75 21.0938 18.75H29.6875C30.5469 18.75 31.25 19.4532 31.25 20.3125C31.25 21.1719 30.5469 21.875 29.6875 21.875H28.125H21.0938C19.4727 21.875 17.9004 22.0606 16.377 22.4024C13.8477 22.9785 11.5039 24.0039 9.4043 25.4004C3.74023 29.1797 0 35.6348 0 42.9688V44.5313C0 45.8301 1.04492 46.875 2.34375 46.875C3.64258 46.875 4.6875 45.8301 4.6875 44.5313V42.9688C4.6875 38.2129 6.70898 33.9356 9.94141 30.9375C11.875 38.3106 18.584 43.75 26.5625 43.75H26.6602C39.5605 43.6817 50 30.9668 50 15.293C50 11.1328 49.2676 7.17776 47.9395 3.61331C47.6855 2.93948 46.6992 2.96878 46.3574 3.60354C44.5215 7.04104 40.8887 9.37503 36.7188 9.37503H26.5625Z"
          fill="#04DC00"
        />
      </svg>
  
      <div class="logo3"></div>
      <div class="div4">聯絡我們</div>
      <div class="div5"></div>
      <div class="div6">手機版功能</div>
    </div>
    <div class="rectangle-2"></div>
    <div class="rectangle-31"></div>
    <div class="div7">預測一週 資源回收/一般垃圾特別滿的星期</div>
    <img class="usage-2" src="image\usage2.png" />
    <div class="div8">一般垃圾目前用量</div>
    <img class="usage-22" src="image\usage2.png" />
    <div class="div9">一般垃圾目前用量</div>
    <img class="usage-23" src="image\usage2.png" />
    <div class="div10">資源回收目前用量</div>
    <img class="usage-24" src="image\usage2.png" />
    <div class="div11">資源回收目前用量</div>
    <div class="div12"></div>
    <div class="div13">
      <div class="rectangle-23"></div>
      <div class="div14">查詢</div>
    </div>
    <div class="div15">
      <div class="div16"></div>
      <div class="div17"></div>
      <div class="div18">時間：</div>
    </div>
    <div class="div19">
      <div class="div20"></div>
      <div class="div21"></div>
      <div class="div22">垃圾桶：</div>
    </div>
    <div class="div23">
      <div class="div24">
        <div class="div25"></div>
        <div class="div26">預測數據分析</div>
      </div>
      <div class="div27">
        <div class="div28"></div>
        <div class="div29">圾垃桶用量</div>
      </div>
    </div>
    <div class="group-6">
      <div class="rectangle-17"></div>
      <div class="div30">中壢火車站一號</div>
    </div>
    <div class="div31">
      <div class="rectangle-22"></div>
      <div class="div32">
        <div class="div33"></div>
        <div class="_2024-12-24-09-00">2024/12/24 09:00</div>
      </div>
      <div class="div34">
        <div class="div35"></div>
        <div class="div36">時間：</div>
      </div>
    </div>
    <div class="div37">
      <div class="rectangle-222"></div>
      <div class="ful-n-ful">
        <div class="ful-n-ful2"></div>
        <div class="_15-00-18-00">15:00-18:00</div>
      </div>
      <div class="ful-n-ful">
        <div class="ful-n-ful3"></div>
        <div class="_18-00-21-00">18:00-21:00</div>
      </div>
      <div class="div38">
        <div class="div39"></div>
        <div class="div40">一般垃圾用量尖峰時刻：</div>
      </div>
    </div>
    <div class="div37">
      <div class="rectangle-223"></div>
      <div class="ful-n-ful">
        <div class="ful-n-ful4"></div>
        <div class="_15-00-18-002">15:00-18:00</div>
      </div>
      <div class="ful-n-ful">
        <div class="ful-n-ful5"></div>
        <div class="_18-00-21-002">18:00-21:00</div>
      </div>
      <div class="div38">
        <div class="div41"></div>
        <div class="div42">資源回收用量尖峰時刻：</div>
      </div>
    </div>
    <div class="group-6">
      <div class="rectangle-172"></div>
      <div class="div43">中壢火車站一號</div>
    </div>
    <div class="div31">
      <div class="rectangle-224"></div>
      <div class="div32">
        <div class="div44"></div>
        <div class="_2024-12-24-09-002">2024/12/24 09:00</div>
      </div>
      <div class="div34">
        <div class="div45"></div>
        <div class="div46">時間：</div>
      </div>
    </div>
    <div class="div37">
      <div class="rectangle-225"></div>
      <div class="ful-n-ful">
        <div class="ful-n-ful6"></div>
        <div class="_15-00-18-003">15:00-18:00</div>
      </div>
      <div class="ful-n-ful">
        <div class="ful-n-ful7"></div>
        <div class="_18-00-21-003">18:00-21:00</div>
      </div>
      <div class="div38">
        <div class="div47"></div>
        <div class="div48">一般垃圾用量尖峰時刻：</div>
      </div>
    </div>
    <div class="div37">
      <div class="rectangle-226"></div>
      <div class="ful-n-ful">
        <div class="ful-n-ful8"></div>
        <div class="_15-00-18-004">15:00-18:00</div>
      </div>
      <div class="ful-n-ful">
        <div class="ful-n-ful9"></div>
        <div class="_18-00-21-004">18:00-21:00</div>
      </div>
      <div class="div38">
        <div class="div49"></div>
        <div class="div50">資源回收用量尖峰時刻：</div>
      </div>
    </div>
    <svg
      class="vector-1"
      width="1132"
      height="2"
      viewBox="0 0 1132 2"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M0 1H1132" stroke="black" />
    </svg>
    <div class="rectangle-312"></div>
    <div class="div51">預測一天內 資源回收/一般垃圾滿的時間點</div>
  </div>
  
  

  
</body>
</html>